# Ignore vector machine
4_rag/db/

# Ingone books
4_rag/books/

# secrets keys
.env

# Script use for (Invoke-WebRequest -Uri https://install.python-poetry.org -UseBasicParsing).Content | py - in PowerShell
#  To install Poetry in an Isolated pytorn virtual environment
install.python-poetry.org.txt
